* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu {
    display: flex;
    background-color: rgba(0, 0, 0, 0.884);
    color: aliceblue;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.right {
    display: flex;
}
.item {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.right_item:hover {
    color: rgb(0, 136, 255);
    transition: all 0.3s ease 0s;
}
.item_special {
    border: 2px solid rgb(0, 136, 255);
    border-radius: 20px;
}
.item_special:hover {
    background-color: rgb(0, 136, 255);
    transition: all 0.3s ease 0s;
}
.background1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.904), rgb(0, 136, 255), rgb(255, 0, 64));
    height: 100vh;
    background-size: cover;
}
.text1 {
    color: aliceblue;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60px;
}
.text2 {
    color: rgb(255, 0, 64);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
}
.background2 {
    background-image: linear-gradient(to right, rgb(145, 255, 255), rgb(185, 120, 245));
    display: flex;
    flex-direction: column;
    padding: 0px 300px 150px 300px;
    width: 100%;
    min-height: 100vh;
}
.text3 {
    align-self: center;
    margin-top: 100px;
    color: white ;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    text-underline-offset: 10px;
    margin-bottom: 30px;
}
.project_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.project-image {
    display: block;
    height: 250px;
    width: 300px;
    margin: 20px 15px 0px 15px; 
}
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.text4 {
    font-family: Montserrat;
    font-weight: 500;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: center;
    width: 300px;
    height: 40px;
    color: antiquewhite;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.text4:hover {
    color: rgb(255, 153, 0);       
}
.text5 {
    background-color: rgb(133, 133, 133);
    color: antiquewhite;
    padding: 10px 15px;
    width: fit-content;
    align-self: center;
    border-radius: 20px;
    font-weight: 600;
    font-family: Montserrat;
}
.text5:hover {
    background-color: rgb(255, 0, 64);
}
.background3 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.904), rgb(0, 136, 255), rgb(255, 0, 64));
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.text6 {
    font-family: Montserrat;
    font-size: 50px;
    color: aliceblue;
    font-weight: 600;
}
.text7 {
    font-family: Montserrat;
    font-size: 15px;
    color: aliceblue;
    font-weight: 400;
}
.contact {
    font-family: Montserrat;
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_item {
    margin: 0px 20px 0px 20px;
    display: flex;
}
.contact_item:hover {
    transform: translateY(10px);
    transition: all 0.7s ease 0s;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.938);
    color: aliceblue;
    font-family: Montserrat;
    font-size: 20px;
    padding: 40px 0px 40px 0px;
    font-weight: 600;
}
.logo {
    margin-right: 10px;
    margin-top: 2px;
}
